<div class="col-md-8 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form ngNativeValidate (submit)="cursos()">
                <input type="hidden" id="idCurso" name="idcurso" [(ngModel)]="curso.id">
                <p class="text-primary"> Todos los campos con( <span class="required">*</span> )son obligatorios </p>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtNombre" class="control-label">Nombre del curso <span class="required">*</span> </label>
                            <input class="form-control" [(ngModel)]="curso.nombre" id="txtNombre" name="txtNombre" type="text" placeholder="Nombre del Curso" required>
                        </div>

                        <div class="form-group">
                            <label for="txtCodigo" class="control-label">Código del curso <span class="required">*</span> </label>
                            <input class="form-control" id="txtCodigo" [(ngModel)]="curso.codigo" name="txtCodigo" type="text" placeholder="Código del curso" required="">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Descripción del curso <span class="required">*</span> </label>
                            <textarea class="form-control" id="txtDescripcion" [(ngModel)]="curso.descripcion" name="txtDescripcion" rows="2" placeholder="Descripción del curso" required=""></textarea>
                        </div>

                        <div class="row">
                        <div class="form-group col-12  ">
                            <label for="listTutor">Tutor del curso<span class="required">*</span> </label>
                            <select class="form-select" data-live-search="true" [(ngModel)]="curso.personaid" id="listTutor" name="listTutor" required="">
                                <option *ngFor="let tutor of usuarios.data" [value]="tutor.id">
                                    {{tutor.nombre}} {{tutor.apellidos}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col ">
                            <label for="listTema">Tema del curso<span class="required">*</span> </label>
                            <select class="form-select" data-live-search="true" [(ngModel)]="curso.temaid" id="listTema" name="listTema" required="">
                                <option *ngFor="let tema of temas.data" [value]="tema.idtema">
                                    {{tema.nombre}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-md-auto ">
                            <label for="listStatus">Estado <span class="required">*</span> </label>
                            <select class="form-select selectpicker" [(ngModel)]="curso.status" id="listStatus" name="listStatus" required="">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                        </div>

                    </div>

                   

                </div>

                <div class="tile-footer mt-3 d-flex justify-content-start align-items-center">

                    <div><a routerLink="/cursos" class="btn btn-secondary btn-block"> <i class="fa fa-fw fa-lg fa-times-circle"></i> Cancelar</a></div>&nbsp;&nbsp;&nbsp;
                    <button id="btnActionForm" class="btn btn-info" type="submit" ><i class="fa fa-fw fa-lg fa-check-circle"></i><span>Guardar</span></button>
                    
                </div>
                    
                
            </form>
        </div>
    </div>

</div>
